@page "/information"

<h3>About</h3>
<p>
    Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.
    The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing. You can protect yourself by washing your hands frequently, avoiding touching your face, and avoiding close contact (1 meter or 3 feet) with people who are unwell.
</p>

<p>
    Coronavirus disease spreads primarily through contact with an infected person when they cough or sneeze. It also spreads when a person touches a surface or object that has the virus on it, then touches their eyes, nose, or mouth.
</p>

<h3>Symptoms</h3>

<p>
    People may be sick with the virus for 1 to 14 days before developing symptoms. The most common symptoms of coronavirus disease (COVID-19) are fever, tiredness, and dry cough. Most people (about 80%) recover from the disease without needing special treatment.
More rarely, the disease can be serious and even fatal. Older people, and people with other medical conditions (such as asthma, diabetes, or heart disease), may be more vulnerable to becoming severely ill.
</p>

<h3>COVID-19 related links</h3>

<div style="display: felx; flex-direction: column">
<div>
<a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">World Health Orginization COVID-19 Pandemic updates</a>
</div>
<div>
<a href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses">COVID-19 Q&A by The World Health Orginization</a>
</div>

<div>
<a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19.html">Government Of Canada COVID-19 Information</a>
</div>


<div>
<a href="https://informationisbeautiful.net/visualizations/covid-19-coronavirus-infographic-datapack/">COVID-19 Data Pack</a>
</div>

<div>
<a href="https://rapidapi.com/api-sports/api/covid-193/details">COVID-19 API</a>
</div>

</div>