@page "/think-you-caught-it"
@inject IJSRuntime JSRuntime;
@inject HttpClient Http

<h3>Think you've caught the virus?</h3>
<h5>Here's what to do.</h5>

<p>There is no specific medicine to prevent or treat coronavirus disease (COVID-19). People may need supportive care to help them breathe.</p>

<p>
    If you have mild symptoms, stay at home until you’ve recovered. You can relieve your symptoms if you:
</p>

<ul>
    <li>rest and sleep</li>
    <li>keep warm</li>
    <li>drink plenty of liquids</li>
    <li>use a room humidifier or take a hot shower to help ease a sore throat and cough</li>
</ul>

<p>If you develop a fever, cough, and have difficulty breathing, promptly seek medical care. Call in advance and tell your health provider of any recent travel or recent contact with travelers.</p>

<h3>Who is at risk?</h3>

<p>While we are still learning about how COVID-2019 affects people, older persons and persons with pre-existing medical conditions (such as high blood pressure, heart disease, lung disease, cancer or diabetes)  appear to develop serious illness more often than others. </p>